
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!--h1 class="brand-heading" style="font-size=10">&nbsp;</h1-->
            <h1 class="brand-heading">&nbsp;Buzzotel</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#about" class="page-scroll">
              <img class="img-me bounce" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
