// Variables

// Main color
////$primary-color: #111111;
$primary-color: #fff;
////$primary-color: #f80000;

// Anchor color
//$secondary-color: #00cdff;
$secondary-color: #1f7c7c;

// Font color
$font-color: #f80000;
////$font-color: #fff;
////$font-color: #780000;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
$intro-text-color: $font-color;
$navbar-color: $font-color;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
